/* index page style */

/* IDs and classes can be conditional*/
#content {
    width: 600px;
    border: 5px solid rgb(240, 62, 106);
    /* '0px' top and bottom, 'auto' for left and right */
    margin: 0 auto;
    font-family:cursive;
    font-size:  1rem;
    background-color:rgb(31, 31, 31);
    color:aliceblue;
}

.hide {
    color: transparent;
    border-bottom: 5px dotted rgb(232, 226, 226);
}

.hide:hover {
    color: rgb(241, 84, 173);
    cursor:crosshair;
}

.silly {
    color: rgb(244, 73, 159);
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.silly:hover {
    font-size: xx-large;
    cursor:pointer;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/stars3.gif);
    background-repeat: repeat;
}

div {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(images/blackstars.gif);
    background-repeat: repeat;
}