#house {
    color:blue;
    font-family: 'Courier New', Courier, monospace;
}

body {
    height:4000px;
    width: 4000px;
    font-family: monospace;
    font-size: 14px;
    background: linear-gradient(
        0deg,
        #e5378b 0%,
        #e7e0e0 100%
        );
}

#fixed {
    position: fixed;
    left: 10px;
    top: 50px;
    text-align: right;
}

#cat {
    position: absolute;
    left: 2000px;
    top: 2500px;
    font-size: 12px;
    padding: 0 150px;
}

#bunny {
    position: absolute;
    left: 1000px;
    top: 3500px;
    font-size: 12px;
    padding: 0 150px;
}

#wrong {
    position: absolute;
    left: 3590px;
    top: 3750px;
    font-size: 18px;
    paddng: 25px;
}

#clue {
    position: absolute;
    left: 0;
    top: 3500px;
    font-size: 18px;
    padding: 100px;
}

a {
    background:black;
    color: rgb(228, 38, 127);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}